.spinner {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner > .gears-spinner {
  width: 120px;
}

.spinner > .infinite-spinner {
  width: 120px;
}
