.backdrop-trailer {
  z-index: 999999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

.backdrop-trailer > .backdrop-trailer-overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.backdrop-trailer > .backdrop-trailer-content {
  z-index: 9999999;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 600px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
}

.backdrop-trailer > .backdrop-trailer-content > i {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 20px;
  color: #000;
  transition: 0.2s ease-in;
}

.backdrop-trailer > .backdrop-trailer-content > i:hover {
  opacity: 0.7;
}

.backdrop-trailer > .backdrop-trailer-content > .backdrop-trailer-content-left {
  width: 250px;
  height: 100%;
  padding-right: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.backdrop-trailer
  > .backdrop-trailer-content
  > .backdrop-trailer-content-left
  > h3 {
  margin-bottom: 20px;
}

.backdrop-trailer
  > .backdrop-trailer-content
  > .backdrop-trailer-content-left::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.1);
  width: 5px;
  border-radius: 10px;
}

.backdrop-trailer
  > .backdrop-trailer-content
  > .backdrop-trailer-content-left::-webkit-scrollbar-thumb {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.backdrop-trailer
  > .backdrop-trailer-content
  > .backdrop-trailer-content-left
  > .movie-trailer-list-item {
  cursor: pointer;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.2s ease-in;
  padding: 7px 10px;
  border-radius: 10px;
}

.backdrop-trailer
  > .backdrop-trailer-content
  > .backdrop-trailer-content-left
  > .movie-trailer-list-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.backdrop-trailer
  > .backdrop-trailer-content
  > .backdrop-trailer-content-left
  > .movie-trailer-list-item.active {
  background-color: rgba(0, 0, 0, 0.1);
}

.backdrop-trailer
  > .backdrop-trailer-content
  > .backdrop-trailer-content-left
  > .movie-trailer-list-item
  > h4 {
  margin-bottom: 5px;
}

.backdrop-trailer
  > .backdrop-trailer-content
  > .backdrop-trailer-content-left
  > .movie-trailer-list-item
  > img {
  width: 100%;
  border-radius: 10px;
}

.backdrop-trailer
  > .backdrop-trailer-content
  > .backdrop-trailer-content-left
  > .movie-trailer-list-item
  > p {
  font-size: 14px;
  font-weight: 500;
}

.backdrop-trailer
  > .backdrop-trailer-content
  > .backdrop-trailer-content-right {
  width: 650px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.backdrop-trailer
  > .backdrop-trailer-content
  > .backdrop-trailer-content-right
  > h1 {
  margin-bottom: 10px;
}
