.movie-details-page {
  width: 100%;
  height: 100vh;
  padding-top: 4rem;
}

.movie-details-page > .movie-cover {
  position: relative;
  height: 350px;
  margin: 20px 40px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.movie-details-page > .movie-cover > img {
  position: absolute;
  width: 200px;
  top: 55%;
  left: 50px;
  border-radius: 10px;
  background-color: #fff;
  padding: 3px;
}

.movie-details-page > .movie-content {
  position: relative;
  margin: 0px 40px;
  width: 100%;
}

.movie-details-page > .movie-content > .top {
  position: absolute;
  left: 280px;
  width: fit-content;
}

.movie-details-page > .movie-content > .top > h4 {
  color: #555;
}

.movie-details-page > .movie-content > .top > div {
  display: flex;
  align-items: center;
}

.movie-details-page > .movie-content > .top > div > div {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.movie-details-page > .movie-content > .top > div > div {
  margin-right: 15px;
}

.movie-details-page > .movie-content > .top > div > div > img {
  margin-right: 5px;
}

.movie-details-page > .movie-content > .bottom {
  position: absolute;
  width: 95%;
  margin-top: 150px;
  padding-bottom: 2rem;
}

.movie-details-page > .movie-content > .bottom > .overview {
  width: 800px;
  margin-left: 10px;
  margin-bottom: 15px;
}

.movie-details-page > .movie-content > .bottom > .companies {
  margin-top: 15px;
  padding: 0px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  margin-bottom: 15px;
}

.movie-details-page > .movie-content > .bottom > .companies > img {
  width: 250px;
  height: 80px;
  border-radius: 10px;
}

.movie-details-page > .movie-content > .bottom > .infos {
  padding: 0px 10px;
}

.movie-details-page > .movie-content > .bottom > .infos > p {
  color: #444;
}

.movie-details-page > .movie-content > .bottom > .infos > p > span {
  font-weight: bold;
  margin-right: 10px;
}

.movie-details-page > .movie-content > .bottom > .trailers {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  padding: 0px 10px;
}

.movie-details-page > .movie-content > .bottom > .trailers > div {
  width: 200px;
  height: 100px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 32px;
  transition: 0.2s ease-in;
}

.movie-details-page > .movie-content > .bottom > .trailers > div:hover {
  cursor: pointer;
  color: #891b36;
}

.movie-details-page > .trailer-modal {
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}

.movie-details-page > .trailer-modal > .overlay {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100vh;
}

.movie-details-page > .trailer-modal > .content {
  position: absolute;
  z-index: 99999;
  background-color: #fff;
  width: 650px;
  height: 550px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-details-page > .trailer-modal > .content > i {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 18px;
  transition: 0.2s ease-in;
}

.movie-details-page > .trailer-modal > .content > i:hover {
  color: #891b36;
}

.movie-details-page > .trailer-modal > .content > h1 {
  margin-bottom: 5px;
}
